:root {
    --main-color: #0000ff;
}
#buttons, #reset-section {
    text-align: center;
}
button {
    font-size: 300%;
    border: solid 5px var(--main-color);
    margin: 15px 20px;
    padding: 30px;
    width: 10rem;
    background: #000;
    color: var(--main-color);
}
.num {
    font-size: 24em;
    text-align: center;
    color: var(--main-color);
}